.nav-one-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.nav-one-left-ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}



.nav-one-right-ul{
    list-style: none;
}